@{
    ViewData["Title"] = "Booking Confirmation";
}

<div class="container text-center">
    <h1 class="mt-5">Tack för din bokning!</h1>
    <p class="lead">Din bokning har skapats framgångsrikt.</p>

    <div class="mt-4">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Tillbaka till startsidan</a>
    </div>
</div>